:root {
   --color-neutral-light:#f0ecec;
   --color-neutral-medium:#9e8d8d;
   --color-neutral-dark:#392f2f;


    --color-main-light: #bcebff;
    --color-main-medium: #17a6e2;
    --color-main-dark: #08435c;

    --color-alt-light: #e5d7fa;
    --color-alt-medium: #6515e2;
    --color-alt-dark: #27055c;

    
    --color-warning: #ea9310;
    --color-error: #d90c63;
    --color-purchase: #6069ff;

    --color-neutral-light-yellow:#fff1d9;
   --color-neutral-light-pink:#ffd8d2;
   --color-neutral-light-blue:#d5e2e8;
   --color-neutral-light-grey:#f3f3f3;

    --color-neutral-yellow:#ffcd00;
   --color-neutral-orange:#f85e06;
   --color-neutral-purpleblue:#6069ff;

    --color-main-light: #bcebff;





}
body {
   font-family:Calibri, sans-serif;
   background-color:#f9f9f9;
   padding-bottom:0;
}




.view-window>h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--color-neutral-orange);
    padding: 1em;
    border-radius: 0em;
    color: white;
    font-size: 2em;
}



.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.navbar {
   background-color:#6069ff;
   color:var(--color-neutral-light);
   line-height:var(--header-height);
}


[class*='col-']>.card {
	height: 100%;
	margin:0.5em;
}


[class*='col-']>.well {
	height: 100%;
}

/* Product List Design */
.product-item {
    margin: 0;
    border-radius:0.7em;
    background-color:white;
    box-shadow:1px 1px 4px rgba(0,0,0,0.2);
    padding:1em;
    transition:all 0.3s;
    display:block;
    height:100%;
}

a.product-item:hover {
  text-decoration:none;
  transform:scale(1.01);
}

.product-item figure {
  margin:0;
}
.product-item:hover {
    box-shadow:1px 1px 12px rgba(0,0,0,0.4);
}
.product-image img {
   width:100%;
}
.product-price,
.product-title {
   font-weight:normal;
}
a:hover .product-item {
   text-decoration:none !important;
}
.product-price {
    font-size: 1.2em;
    padding: 0.8em 0.2em;
}
.product-title {
    font-size: 0.9em;
}

.product-image {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 150%;
}
.image-main {
  position:relative;
  height:0;
  overflow:hidden;
  padding-bottom:100%;
}
.image-main img,
.product-image img {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}





.image-thumbs img {
  position: relative;
  padding-top: 2%;
  width:175px;
  height:175px;
  object-fit:cover;
}




.navbar {
  margin-bottom:0;
}

.card :first-child,
.card-section :first-child {
  margin-top:0;
}


span.badge:not(:empty)::after {
  content:')';
}
span.badge:not(:empty)::before {
  content:'(';
}





.card :first-child,
.card-section :first-child {
  margin-top:0;
}

@media(max-width: 600px){
	h2 {
		font-size: 1em;
	}
}





